body{
	padding:0;
	margin:0;
	background:url(logo.jpg.png); 
	background-size:100px 100px;   
}
.bienvenido{
	height:155px;
	padding:0;
	margin:0;   
}
.texto{
	font-size:28px; 
	width:50%;
	height:100%;
	color:red;
	background:black;
	float:left; 
}
.back{
	text-align:center; 
	display: inline-block;
    background:red;
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
    text-decoration: none;
}
.col{
	background:red;
	height:85%;
	width:90%;
	float:left;   
}
.or{
	background:gray;
	height:70%;
	width:80%;
	float:left; 	
}
.precios{
	height:30px;
}
.amateur{
	text-align:center; 
	float:left;
	height:100%;
	width:50%   
}
.pro{
	text-align:center; 
	float:right;
	height:100%;
	width:50%	
}
.textos{
	width: 40%;
   	padding: 12px 20px;
   	margin: 8px 0;
   	display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius:10px; 
}