body{
	margin:0;
	padding:0; 
}
.bienvenido{
	text-align:left;
	padding:0;
	margin: 0;
	color: red;
	height:150px;
	font-size:20px;  
}
.col{
	background:red;
	height:85%;
	width:90%; 
	float:left;  
}
.or{
	background:gray;
	height:70%;
	width:80%;
	float:left;   
}	
.tex{
	background:black; 
	width:50%;
	height:100%;  
	float:left; 
}
.logo{
	width:50%;
	float:right;
	height:100%;  
}
.cuerpo{
	background:url(logo.jpg.png); 
	background-size:10%; 
}
.informacion{
	height:300px;
	margin:0;
	padding:0;     
}
.texto{
	height:100%; 
	float:right; 
	width:50%; 
	background:black; 
}
.imagen{
	height:100%; 
	float:left; 
	width:50%;
	background:url(fondo1.jpg);
	background-size:cover;   	
}
.botones{
	height:400px;
	padding:0;
	margin:0;    
}
.asociar{
	text-align: center;
	height:50%; 
	width:50%;
	float:left; 
}
.gim{ 
	display: inline-block;
    background: red;
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
    text-decoration: none;
}
.info{
	color:white;
	font-size:20px;
	text-align:center;
}
.gimnasios{
	text-align:center; 
	display: inline-block;
    background:red;
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
    text-decoration: none;
}
.listado{
	text-align:center; 
	width:50%;
	height:50%; 
	float:right;  
}
.iniciar{
	text-align:center; 
	display: inline-block;
    background:red;
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
    text-decoration: none;
}
.login{
	width:100%;
	height:50%; 
	text-align:center;  
}
.temporal{
	height:200px;
	width:100px;
	float:right;   
	text-align:center; 
	display: inline-block;
    background:red;
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
    text-decoration: none;
}
.ero{
	text-align:center; 
	display: inline-block;
    background:red;
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
    text-decoration: none;
}